<%= render 'users/header' %>

<div class="container">
	<div class="row">
		<h3 class="col-md-offset-2 col-md-3 cart-title">ショッピングカート</h3>
		<%= link_to "カートを空にする", user_cart_products_destroy_all_path(current_user), class: 'btn btn-danger active col-md-offset-4 destroy-all' %>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<table class="table table-bordered">
				<thead class="cart-list-title">
					<tr>
						<th class="col-md-2">商品名</th>
						<th class="col-md-1">単価(税込)</th>
						<th class="col-md-1">数量</th>
						<th class="col-md-1">小計</th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<% total = 0 %>
					<% @cart_products.each do |cart_product| %>
					<tr>
						<td>
							<%= attachment_image_tag cart_product.product, :image, :fill, 50,40, fallback: "noimage.jpg" %>
							<%= cart_product.product.name %>
						</td>
						<td><%= include_tax(cart_product.product.no_tax) %></td>
						<td>
							<%= form_for [@user, cart_product], method: :patch do |f| %>
								<%= f.number_field :number, min:1, max: 20, maxlength:3, class: 'number-field' %>
								<%= f.submit "変更", class: 'btn btn-primary active' %>
							<% end %>
						</td>
						<td><%= get_subtotal(cart_product.product.no_tax, cart_product.number) %></td>
								<% total += total_price(cart_product.product.no_tax, cart_product.number) %>
						<td><%= link_to "削除する", user_cart_product_path(current_user, cart_product), method: :delete, class: 'btn btn-danger active destroy-product' %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="row">
		<%= link_to "買い物を続ける", root_path, class: 'btn btn-primary active col-md-offset-2 col-md-2 continue-shopping' %>
		<div class="col-md-3 col-md-offset-4">
			<table class="table table-bordered">
					<th class="cart-list-title">合計金額</th>
					<td><%= total.to_s(:delimited, delimiter: ',') %></td>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-4 col-md-4 new-order-link">
			<%= link_to "情報入力に進む", new_order_path, class: 'btn btn-success btn-lg active col-md-12' %>
		</div>
	</div>
</div>