
<%= render "users/header" %>

<div class="container" id="registration-new">

  <span class="row text-center">
    <h4 class="col-md-2 title">新規会員登録</h4>
  </span> 

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="row">
      <div class="col-md-2 col-md-offset-1">名前</div>
      <div class="col-md-1 text-right">(姓)</div>
      <div class="col-md-2"><%= f.text_field :lastname, autofocus: true, class: "panel panel-default"  %></div>
      <div class="col-md-1 text-right">(名)</div>
      <div class="col-md-2"><%= f.text_field :firstname, class: "panel panel-default"  %></div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-1">フリガナ</div>
        <div class="col-md-1 text-right">(セイ)</div>
        <div class="col-md-2"><%= f.text_field :lastname_kana, class: "panel panel-default"  %></div>
        <div class="col-md-1 text-right">(メイ)</div>
        <div class="col-md-2"><%= f.text_field :firstname_kana, class: "panel panel-default"  %></div>
    </div>

    <div class="row">
      <div class="col-md-3 col-md-offset-1">メールアドレス</div>
        <div class="col-md-2"><%= f.email_field :email, autocomplete: "email", class: "panel panel-default"  %></div>
    </div>

    <div class="row">
      <div class="col-md-3 col-md-offset-1">郵便番号(ハイフンなし)</div>
        <div class="col-md-2"><%= f.text_field :postal, class: "panel panel-default"  %></div>
    </div>

    <div class="row">
      <div class="col-md-3 col-md-offset-1">住所</div>
        <div class="col-md-5"><%= f.text_field :address, :size=>"61", class: "panel panel-default"  %></div>
    </div>

    <div class="row">
      <div class="col-md-3 col-md-offset-1">電話番号(ハイフンなし)</div>
        <div class="col-md-2"><%= f.telephone_field :telephone, class: "panel panel-default"  %></div>
    </div>

    <div class="row">
      <div class="col-md-3 col-md-offset-1">パスワード(6文字以上)</div>
        <div class="col-md-2"><%= f.password_field :password, autocomplete: "new-password", class: "panel panel-default"  %></div>
    </div>

    <div class="row">
      <div class="col-md-3 col-md-offset-1">パスワード(確認用)</div>
        <div class="col-md-2" ><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "panel panel-default" %></div>
    </div>

    <div class="row">
      <div class="col-md-3 col-md-offset-5 submit-btn">
        <%= f.submit "新規登録", class: "btn btn-success btn-block " %>
      </div>
    </div>
  <% end %>

    <span class="row text-center">
      <h4 class="col-md-2 subtitle">既に登録済みの方</h4>
    </span> 

    <div class="row">
      <div class="col-md-3 col-md-offset-2 link-box">
        <%= link_to "こちら", new_user_session_path(resource) %>からログインしてください。
      </div>
    </div>

</div>

<%= render "users/footer" %>