<%= render 'admin/home/header' %>

<div class="container" id="admin-order-index">
	<div class="row">
		<div class="col-md-3">
			<h3>注文一覧画面</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<table class="table table-bordered">
				<tr>
					<th>購入日時</th><th>購入者</th><th>注文個数</th><th>注文ステータス</th>
				</tr>
				<tbody>
					<% @order.each do |order| %>
						<% total_var = 0 %>
						<% order.order_products.each do |order_product| %>
						<% total_var = total_var + order_product.number %>
						<% end %>
						<tr>
							<td><%= order.created_at %></td>
							<td><%= order.name %></td>
							<td><%= total_var %></td>
							<td><%= order.order_status %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>