<div class="container" id="user-header">
  <header class="user-header navbar">
    <nav class="nav navbar-nav navbar-left">
      <%= link_to root_path do %>
        <div class="header-logo">
        </div>
      <% end %>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right nav-item-box">
        <% if user_signed_in? && current_user.status == true %>
          <p class="user-header-text navbar-text">ようこそ、<%= current_user.lastname %> さん！</p>
          <li class="user-header-link"><%= link_to "マイページ", user_path(current_user), class:"user-header-link-box" %></li>
          <li class="user-header-link"><%= link_to "商品一覧", products_path, class:"user-header-link-box" %></li>
          <li class="user-header-link"><%= link_to "カート", user_cart_products_path(current_user), class:"user-header-link-box" %></li>
          <li class="user-header-link"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"user-header-link-box" %></li>
        <% else %>
          <li class="user-header-link"><%= link_to "商品一覧", products_path, class:"user-header-link-box"  %></li>
          <li class="user-header-link"><%= link_to "新規登録", new_user_registration_path, class:"user-header-link-box" %></li>
          <li class="user-header-link"><%= link_to "ログイン", new_user_session_path, class:"user-header-link-box" %></li>
        <% end %>
      </ul>
    </nav>
  </header>
  <% if flash[:notice] %>
    <div class="flash">
       <%= flash[:notice] %>
    </div>
  <% end %>
</div>
