
<div class="container" id="admin-header">
  <header class="user-header navbar">
  	<nav class="nav navbar-nav navbar-left">
      <%= link_to root_path do %>
        <div class="header-logo">
        </div>
      <% end %>
  </nav>
		<!--管理者がログインしているか判別 → admin_signed_in?-->
  <div class="container nav-item-box">
  <nav>
		<% if admin_signed_in? %>
			<ul class="nav navbar-nav navbar-right nav-item-box">
					<li class="header-link"><%= link_to "商品一覧",admin_products_path %></li>
					<li class="header-link"><%= link_to "会員一覧",
						admin_users_path %></li>
					<li class="header-link"><%= link_to "注文履歴一覧",
						admin_orders_path %></li>
					<li class="header-link"><%= link_to "ジャンル管理",
						admin_genres_path %></li>
          <li class="header-link"><%= link_to "ログアウト",
						destroy_admin_session_path , method: :delete %></li>
        <div class="header-search">
          <input placeholder="Search">
        </div>
			</ul>
    <% end %>
  </nav>
  </div>

		<!--検索機能不要  要件定義書に指示有-->



  </header>
</div>