<%= render "admin/home/header" %>
<%= render "devise/shared/error_messages", resource: @product %>

<div class="container">
	<div class="row">
		<h3 class="col-md-4">商品 新規登録画面</h3>
	</div>

	<%= form_for @product,url: admin_products_path do |f| %>
	<div class="row">
		<!--「商品画像」と「画像選択ボタン」-->
		<div class="col-md-4">
			<div class="col-md-10 col-md-offset-1">
				<!--サンプル画像-->
				<%= attachment_image_tag @product, :image, :fill, 200,200 %>
				<%= f.attachment_field :image, direct: true %>
			</div>
		</div>

		<!--商品情報入力欄-->
		<div class="col-md-5">
			<div class="row">
				<p class="col-md-3">商品名</p>
				<%= f.text_field :name, class: "col-md-6 panel panel-default" %>
			</div>

			<div class="row">
				<p class="col-md-3">商品説明</p>
				<%= f.text_field :introduction, class: "col-md-6 admin-products-new-introduction panel panel-default" %>
			</div>

			<div class="row">
				<p class="col-md-3">ジャンル</p>
				<%= f.collection_select :genres_id, Genre.all, :id, :name, class: "col-md-6" %>
			</div>

			<div class="row">
				<p class="col-md-3">税抜価格</p>
				<%= f.text_field :no_tax, class: "col-md-6 panel panel-default" %>
			</div>

			<div class="row">
				<p class="col-md-3">販売<br>ステータス</p>
				<%= f.select :sale_status,[["販売中", true], ["売切れ", false]], class: "col-md-6" %>
			</div>
		</div>

		<!--新規登録ボタン	-->
		<div class="col-md-2">
			<%= f.submit "新規登録",class: "btn btn-primary admin-product-new-submit" %>
		</div>

	</div> <!--row-->
	<% end %>

</div>