<%= render 'admin/home/header' %>


<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>会員一覧画面</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<table class="table">
						<tr>
							<th>会員ID</th>
							<th>氏名</th>
							<th>メールアドレス</th>
							<th>ステータス</th>
						</tr>
					<tbody>
						<% @users.each do |user| %>
							<tr>
								<td><%= user.id %></td>
								<td>
									<%= link_to user.firstname + user.lastname, admin_user_path(user.id) %>
								</td>
								<td><%= user.email %></td>
								<td><%= user.status %></td>
							</tr>
						<% end %>
					</tbody>
			</table>
		</div>
	</div>

</div>