<%= render 'users/header' %>

<div class="container" id="user-products-show">
    <div class="row">
        <div class="col-md-3">
          <table class="table">
            <th class="text-center">ジャンル検索</th>
            <% @genres.each do |genre| %>
              <tr>
                <td class="sidebar-text">
                  <%= form_with(scope: :search, url: products_path, method: :get, local: true) do |f| %>
                  <%= f.hidden_field :genres_id, :value => genre.id %>
                  <%= hidden_field_tag :genres_id_var, genre.id %>
                  <%= f.submit genre.name, class: "submit-bottan" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
        <div class="col-md-8 col-md-offset-1 product-info">
       	    <div class="row">
    		<%= attachment_image_tag @product, :image, :fill, 400,400, fallback: "noimage.jpg", class: 'col-md-3 image-box' %>
    		<div class="col-md-4">
    			<h3 class="product-title"><%= @product.name %></h3>
    			<p class="product-text"><%= @product.introduction %></p>
    			<h3 class="product-price-with-tax"><%= "¥ " + "#{include_tax(@product.no_tax)}" + " (税込)" %></h3>
    		</div>
       	    </div>
        	<div class="row">
        		<div class="col-md-5 col-md-offset-7">
                    <!--サインイン時の表示-->
                <% if user_signed_in? && @product.sale_status == true %>
                    <%= form_for [@user, @cart_product] do |f| %>
                        <%= f.select :number, [[1, 1],[2, 2],[3, 3],[4, 4],[5, 5],[6, 6],[7, 7],[8, 8],[9, 9],[10, 10]] %>
                        <%= f.hidden_field :product_id, :value => @product.id %>
                        <%= f.submit "カートに入れる", class: 'btn btn-primary active' %>
                    <% end %>
                <% else %>
                    <% if user_signed_in? %>
                      <p style="color:red;">※現在品切れ中</p>
                    <% else %>
                      <%= link_to "会員登録して購入", new_user_registration_path, class: 'btn btn-sm btn-success active' %>
                      <%= link_to "ログインして購入", new_user_session_path, class: 'btn btn-sm btn-primary active' %>
                    <% end %>
                <% end %>
            	</div>
        	</div>
        </div>
    </div>
</div>
<%= render "users/footer" %>